body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    color: #111;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

h2 {
    border-left: 4px solid black;
    padding-left: 10px;
}

section {
    width: 80%;
    margin: auto;
    padding: 20px;
}
